.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
 
}

.container {
  width: 60%; /* Defina a largura desejada para o container */
  text-align: center; /* Para centralizar o conteúdo dentro do container */
 color: antiquewhite;
 background-color: blueviolet;
  padding: 15px;
  justify-content: center;
    border-radius: 6%;
}



/* Arquivo Formulario.css */
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

 input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}



