


.medico{
     width: 35%;
    
    float: right;
}
  .inicio{
   display:block ;
   height: auto; 
   
  }

  .titulo,.paragrafo{
    color: antiquewhite;
  }

.logo{
  height: 50vh;
  margin-top: -1%;
}
.frente{
  display:flex;
  margin-top: 10%;
  
}